body{
background: url('https://static.vecteezy.com/ti/fotos-gratis/p1/2420934-back-to-school-background-with-school-supplies-background-gr%C3%A1tis-foto.jpg');
background-repaet: no-repaet;
background-size: cove;
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
font-size: 22px;
text-align: center;
}
#logo{
text-align: center;
}
.tabela{
background: grey;
font-size: 22px;
width: 1200px;
height: 200px;
opacity: 0.5;
text-align: center;
}
#apresent{
color: white;
}
#abcs{
font-size: 22px;
background: linear-gradient(to right, green 50%, cyan 0);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

font-weight: 22px;
font-family: Arial;
}
